.settings-wrapper {
    display: flex;
}

.left-side {
    width: 890px;
    height: 941px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
    opacity: 1;
    margin: 20px;
}

.right-side {
    width: 890px;
    height: 941px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
    opacity: 1;
    margin: 20px;
}

.general-book {
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 55px;
    flex-grow: 2;
    margin-left: 23px;
}

.wrap {
    display: flex;
}

.add-new {
    width: 150px;
    height: 42px;
    background: #08C642 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    color: #FFFFFF;
    border: none;
    margin-right: 20.85px;
}

.paragraph-text {
    text-align: left;
    font: normal normal 600 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 23px;
    margin-bottom: 29px;
}

.paragraph {
    display: flex;
    align-items: center;
}

hr {
    border-color: #1076b5;
    margin-bottom: 25px;
    margin-left: 29.73px;
    flex-grow: 1;
}

i {
    width: 14px;
    height: 22px;
    background: transparent url('../common/Polygon\ 41.png');
    margin-bottom: 18px;
    margin-right: 10px;
}