.container {
    width: 1820px;
    height: 1100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
    opacity: 1;
    margin-left: 50px;
    margin-top: 42px;
}

.polygon{
    width: 20px;
    height: 20px;
    background: transparent url('../common/Polygon\ 24.png') 0% 0% no-repeat padding-box;
    border: none;
}

.nav-bar {
    display: flex;
    width: 1920px;
    height: 63px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    align-items: center;
}

.settings-library {
    flex-grow: 1;
    margin-left: 550px;
}

.settings-library button {
    width: 74px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    border: none;
    background-color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 86px;
    cursor: pointer;
}

.nav-bar-logo {
    width: 136px;
    height: 30px;
    background: transparent url('../common/Exclusion1resize.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 50px;
}

.book-card {
    display: flex;
    width: 860px;
    height: 177px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000017;
    border-radius: 10px;
    opacity: 1;
    margin-left: 22px;
    margin-bottom: 23px;
    margin-top: 23px;
}

.books-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.book-card-description {
    flex-grow: 1;
}

.book-card-description {
    margin-left: 26px;
}

.book-cover {
    width: 125px;
    height: 177px;
    opacity: 1;
    border-radius: 10px;
}

.book-name {
    width: 401px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    align-items: flex-start;
}


.book-author {
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #1076B5;
    opacity: 1;
}

.book-genre {
    text-align: left;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
    font: normal normal bold 16px/22px Montserrat;
}

.book-created {
    width: 176px;
    height: 19px;
    text-align: left;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
    font: normal normal 16px/22px Montserrat;
}

.book-updated {
    width: 180px;
    height: 19px;
    text-align: left;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
    margin-left: 45px;
    font: normal normal 16px/22px Montserrat;
}

.specific-book {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 177px;
    background: #1076B5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000017;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
}

.arrow {
    width: 14px;
    height: 22px;
    background: transparent url('../common/Polygon\ 24.png') 0% 0% no-repeat padding-box;
    border: none;
    margin-top: 78px;
    z-index: 1;
}

.search {
    display: flex;
    align-items: center;
    margin: 15px;
}

.search-input {
    width: 500px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.20000000298023224px solid #0D242E;
    border-radius: 5px;
    opacity: 1;
    margin-left: 24.08px;
}

.search-label {
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
}

.search-button {
    left: 670px;
    width: 40px;
    height: 40px;
    background: transparent url('../common/Path\ 30139.png') 0% 0% no-repeat padding-box;
    border: none;
    position: absolute;
    margin-top: 17px;
    cursor: pointer;
}

.book-wrapper {
    display: flex;
    align-items: center;
}

.book-image {
    width: 675px;
    height: 939px;
    padding: 32px;
    box-sizing: border-box;
}

.book-image img {
    width: 100%;
    height: 100%;
}

.book-description {
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
}

.book-description p {
    margin-left: 38px;
}

.book-nav-bar {
    display: flex;
    width: 1920px;
    height: 63px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    align-items: center;
}

.to-books {
    width: 14px;
    height: 22px;
    background: transparent url('../common/Polygon\ 39.png') 0% 0% no-repeat padding-box;
    border: none;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.library {
    margin-left: 15px;
}

.book-library-settings {
    flex-grow: 1;
    margin-left: 650px;
}

.book-library-settings button {
    width: 74px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    border: none;
    background-color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 86px;
}

.profile {
    width: 33px;
    height: 33px;
    background: transparent url('../common/profile.png') 0% 0% no-repeat padding-box;
    float: right;
    margin-right: 50px;
}

.cover {
    width: 675px;
    height: 939px;
    opacity: 1;
}

.name {
    width: 1187px;
    height: 82px;
    background: #08C642 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 22px/32px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.author {
    width: 128px;
    height: 24px;
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #1076B5;
    opacity: 1;
}

.created {
    text-align: left;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
}

.updated {
    text-align: left;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
}

.description-label {
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
}

.description {
    width: 1000px;
    height: 173px;
    text-align: left;
    font: normal normal normal 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
}