.register-form {
    display: flex;
    width: 1840px;
    height: 1000px;
    background: var(color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    opacity: 1;
}

.cred {
    width: 500px;
    height: 42px;
    border: 0.5px solid var(color-0d242e);
    border: 0.5px solid #0D242E;
    border-radius: 5px;
    opacity: 1;
}

.left-reg {
    margin-left: 135px;
}

.register-background {
    width: 1070px;
    height: 1000px;
    background: transparent url('../common/Group19445.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: auto;
}

.logo {
    width: 378px;
    height: 82px;
    background: var(color-08c642) 0% 0% no-repeat padding-box;
    background: transparent url('../common/Exclusion1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 60.85px;
    margin-top: 135.14px;
}

.welcome {
    width: 450px;
    height: 24px;
    font: normal normal bold 20px/30px Montserrat;
    text-align: center;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    size: 20px;
    margin-left: 25px;
}

.create {
    width: 220px;
    height: 22px;
    text-align: center;
    font: normal normal 600 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 140px;
}

.cred-label {
    height: 19px;
    text-align: left;
    font: normal normal 300 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
}

.view-btn-register {
    left: 605px;
    width: 40px;
    height: 40px;
    background: transparent url('../common/view.png') 0% 0% no-repeat padding-box;
    border: none;
    position: absolute;
    margin-top: 15px;
    cursor: pointer;
}

.view-btn-register.passwordInputVislible {
    background: transparent url('../common/view1.png') 0% 0% no-repeat padding-box;
}

.signup-button {
    width: 500px;
    height: 42px;
    background: #1076b5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: normal normal bold 16px/22px Montserrat;
    color: #FFFFFF;
    margin-top: 111.89px;
    cursor: pointer;
}

.signup-button:disabled {
    opacity: 0.5;
}

.existing-account {
    width: 288px;
    height: 19px;
    letter-spacing: 0;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font: normal normal 16px/22px Montserrat;
    margin-left: 90px;
}

.login-here {
    width: 109px;
    height: 19px;
    text-align: center;
    text-decoration: underline;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #08C642;
    text-transform: uppercase;
}

.login-label{
    text-align: left;
    margin-top: 54.74px;
}
