.login-page {
    display: flex;
    width: 1840px;
    height: 1000px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    opacity: 1;

}

.login-page-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 135px;
}

.login-background {
    width: 100%;
    height: 1000px;
    background: transparent url('../common/Group19445.png') 0% 0% no-repeat padding-box;
    float: right;
    opacity: 1;

}

.login-logo {
    width: 378px;
    height: 82px;
    background: transparent url('../common/Exclusion1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 195.85px;
    margin-top: 135.14px;
}

.welcome-sign {
    width: 184px;
    height: 24px;
    text-align: center;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 293px;
    margin-top: 42.5px;
    margin-bottom: 98.1px;
}

.label {
    width: 45px;
    height: 19px;
    text-align: left;
    font: normal normal 300 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
    margin-left: 135px;
}

.credential-inputs {
    width: 500px;
    height: 42px;
    border: 0.5px solid var(--unnamed-color-0d242e);
    border: 0.5px solid #0D242E;
    border-radius: 5px;
    opacity: 1;
    margin-left: 135px;
    margin-bottom: 40.93px;
}

.recover-password {
    height: 15px;
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 12px/16px Montserrat;
    letter-spacing: 0px;
    color: #1076B5;
    opacity: 1;
    margin-left: 530px;
}

.login-button {
    width: 506.37px;
    height: 42px;
    background: #08C642 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-left: 135px;
    margin-top: 89.31px;
    text-align: center;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
}

.login-button:disabled {
    opacity: 0.5;
}

.button {
    font: normal normal 300 16px/22px Montserrat;
    letter-spacing: 0px;
    cursor: pointer;
}

.view-btn {
    left: 605px;
    width: 40px;
    height: 40px;
    background: transparent url('../common/view.png') 0% 0% no-repeat padding-box;
    border: none;
    position: absolute;
    margin-top: 586px;
    cursor: pointer;
}

.view-btn.passwordInputVislible {
    background: transparent url('../common/view1.png') 0% 0% no-repeat padding-box;
}



.signup-here {
    width: 120px;
    height: 19px;
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 16px/22px Montserrat;
    cursor: pointer;
}

.existing-account-login {

    width: 225px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    margin-left: 212.5px;
}